.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #F2F2F2;
    z-index: 0;
}

.header__title {
    align-self: center;
    margin: 0px 0px 0px 64px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    width: 730px;
}

.header__subtitle {
    z-index: 1;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    width: 388px;
    left: 64px;
    bottom: 30px;
    font-weight: normal;
    margin: 0px;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}

.header__link:hover {
    color: #000000;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0px;
    z-index: -1;
}

.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 183px;
    height: 32px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 1;
}

.logo_place_footer {
    background-image: url(../images/logo_white.svg);
}

.description {
    display: flex;
}

.two-columns {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    width: 80%;
    justify-content: space-between;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    width: 175px;
    color: #2F80ED;
    margin: 0px;
    font-weight: normal;
}

.two-columns__main-text {
    line-height: 34px;
    font-size: 24px;
    width: 80%;
    min-width: 784px;
}

.two-columns__span-accent {
    font-weight: bold;
}

.two-columns__paragraph {
    margin: 0px 0px 30px 0px;
}

.two-columns__paragraph:last-of-type {
    margin: 0px;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    width: 60%;
    text-align: center;
    margin: 0px 0px 20px;
}

.section-title_theme_dark {
    margin: 90px 0px 20px;
    color: white;
    z-index: 1;
}

.section-subtitle {
    line-height: 34px;
    font-size: 24px;
    width: 60%;
    text-align: center;
    margin: 0px;
    font-weight: normal;
}

.section-subtitle_theme_dark {
    color: white;
    z-index: 1;
}

.table {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table_theme_dark {
    margin: 0px 0px 90px;
    z-index: 1;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}

.feinman {
    position: relative;
    margin: 100px 0px 0px;
    padding: 100px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 790px;
    background-color: #F2F2F2;
    z-index: 0;
}

.feinman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    text-align: center;
    margin: 0px;
}

.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 70px 0px 0px;
}

.feinman__link {
    line-height: 51px;
    font-size: 36px;
    color: #000000;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
}

.feinman__link:hover {
    color: #2F80ED;
}

.feinman__illustration {
    position: absolute;
    width: 867px;
    height: 637px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #1F1F1F;
    position: relative;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0px;
    background-image: url(../images/triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    min-height: 350px;
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;
}

.footer__columns {
    width: 90%;
    min-height: 250px;
    display: flex;
    margin: 60px 0px 40px;
    justify-content: space-between;
    position: relative;
}

.footer__column {
    margin: 0px;
}

.footer__column_content_info {
    margin: 0px;
}

.footer__column_content_social {
    margin: 0px;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__author {
    color: white;
    margin: 18px 0px;
    line-height: 25px;
    font-size: 18px;
}

.footer__column-heading {
    color: white;
    margin: 0px 0px 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-links {
    list-style-type: none;
    padding: 0px;
    margin: 20px 0px 16px;
}

.footer__column-link {
    color: white;
    text-decoration: none;
    margin: 0px;
    line-height: 30px;
    font-size: 18px;
    position: relative;
}

.footer__column-link:hover {
    color: #2F80ED;
}

.footer__social-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 0px;
    vertical-align: -2px;
}
